.header{
    margin-bottom: 30px;
    background: $white;
    .navbar-brand{
        color: $black;
        font-size: 30px;
    }
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.205);
    .login-btn{
        background: $black;
        padding: 9px 15px;
        font-size: 14px;
        text-decoration: none;
        color: white;
        border-radius: 20px;
    }
}